<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <link rel="icon" type="image/x-icon" href="/static/img/favIcon.png"> 
    <title>Dashboard</title>
</head>
<body>
    <div class="container">
        <aside>
            <nav class="sidebar">
                <header>
                    <div class="image-text">
                        <span class="image"><a href="{{ url_for('main.home') }}">
                            <img class="cube-logo" src="/static/img/logo-cube.png" alt="">
                            <img class="rec-logo" src="/static/img/logo-rec.png" alt=""></a>
                        </span>
                    </div>
                    <!-- <i class="uil uil-angle-right toggle"></i> -->
                </header>

                <div class="menu-bar">
                    <div class="menu">
                        <ul class="menu-links">
                            <li class="nav-link">
                                <a class="active" href="{{ url_for('users.dashboard') }}">
                                    <i class="uil uil-apps icon"></i>
                                    <span class="text nav-text">Dashboard</span>
                                </a>
                            </li>
                            <li class="nav-link">
                                <a href="{{ url_for('users.predict') }}">
                                    <i class="uil uil-dice-three icon"></i>
                                    <span class="text nav-text">Predict</span>
                                </a>
                            </li>
                            <li class="nav-link">
                                <a href="{{ url_for('users.userAccount') }}">
                                    <i class="uil uil-user icon"></i>
                                    <span class="text nav-text">User Info</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="bottom-content">
                        <li class="">
                            <a href="{{ url_for('users.logout') }}">
                                <i class="uil uil-sign-out-alt icon"></i>
                                <span class="text nav-text">Logout</span>
                            </a>
                        </li>
                    </div>
                </div>

            </nav> 
        </aside>

        <div class="header">
            <div class="head">
                <h1>
                    Dashboard
                </h1>
                
            </div> 
            <div class="date">
                <div class="profile">
                    <div class="info">
                        <b>{{name}}</b>
                        
                    </div>
                    <div class="icon-pro">
                        <a href="{{ url_for('users.userAccount') }}">
                            <img src="{{ image_file }}">
                        </a>
                    </div>
                </div>
                
            </div>
            <div class="burger-menu">
                <i class="iconss uil uil-bars"></i>
            </div>
        </div>
           
        <main>                
           
            <div class="headerrr">
                <h1>Dashboard</h1>
            </div>
           <!-- <div class="insights">
               <div class="chart">
                    <canvas id="line-chart">

                    </canvas>
               </div>
           </div> -->

           <div class="recent-predictions">
               <div class="reTitle">
                   <h2>Recent Predictions</h2>
               </div>
               <div class="table-cont">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Loan Amount</th>
                            <th>Eligibility</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for candidate in candidates %}
                        <tr>
                            <td>{{ candidate.candidateName }}</td>
                            <td>{{ candidate.candidateEmail }}</td>
                            <td>{{ candidate.loanAmount }}</td>
                            <td class="success">Eligible</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td>Franck Ohene</td>
                            <td>ohenefrank@live.com</td>
                            <td>2800</td>
                            <td class="danger">Ineligible</td>
                        </tr>
                        <tr>
                            <td>Samuel Twumberema</td>
                            <td>twunsam@outlook.com</td>
                            <td>8500</td>
                            <td class="danger">Ineligible</td>
                        </tr>
                        <tr>
                            <td>Melisa Sarpong</td>
                            <td>sarpongmelisa@gmail.com</td>
                            <td>800</td>
                            <td class="success">Eligible</td>
                        </tr>
                        <tr>
                            <td>Sammuella Boateng</td>
                            <td>sammyB@gmail.com</td>
                            <td>650</td>
                            <td class="danger">Ineligible</td>
                        </tr>
                        <tr>
                            <td>Philip Baah</td>
                            <td>Philipbaah@gmail.com</td>
                            <td>4870</td>
                            <td class="danger">Ineligible</td>
                        </tr>
                        <tr>
                            <td>Kofi Boakye</td>
                            <td>Kboakye@live.com</td>
                            <td>1230</td>
                            <td class="danger">Ineligible</td>
                        </tr>
                        <tr>
                            <td>Derrick Asante</td>
                            <td>asentederrick@live.com</td>
                            <td>2000</td>
                            <td class="success">Eligible</td>
                        </tr>
                        <tr>
                            <td>Cassandr Smith</td>
                            <td>cassysmith@outlook.com</td>
                            <td>500</td>
                            <td class="success">Eligible</td>
                        </tr>
                        <tr>
                            <td>Sandra Agyakum</td>
                            <td>sandya@gmail.com</td>
                            <td>960</td>
                            <td class="danger">Ineligible</td>
                        </tr>
                        <tr>
                            <td>Kweku Sampson</td>
                            <td>sampsonkweku@live.com</td>
                            <td>2000</td>
                            <td class="success">Eligible</td>
                        </tr>
                        <tr>
                            <td>Janis Brown</td>
                            <td>brownjanis@live.com</td>
                            <td>2500</td>
                            <td class="danger">Ineligible</td>
                        </tr>
                        <tr>
                            <td>Mavis Beacon</td>
                            <td>mavisb@live.com</td>
                            <td>2000</td>
                            <td class="success">Eligible</td>
                        </tr>
                        <tr>
                            <td>Bridgette Adora</td>
                            <td>Bridgetteadora124@outlook.com</td>
                            <td>1000</td>
                            <td class="success">Eligible</td>
                        </tr>
                        <tr>
                            <td>Sabinus Odeyeke</td>
                            <td>sabiO@live.com</td>
                            <td>100</td>
                            <td class="success">Eligible</td>
                        </tr>
                        <tr>
                            <td>Chris Angelo</td>
                            <td>chrisAngelo@live.com</td>
                            <td>2000</td>
                            <td class="danger">Ineligible</td>
                        </tr>
                        <tr>
                            <td>Philip Quashie</td>
                            <td>kwashiephilip214@gmail.com</td>
                            <td>6300</td>
                            <td class="success">Eligible</td>
                        </tr>
                        <tr>
                            <td>Kakra Kumson</td>
                            <td>kumsonk@live.com</td>
                            <td>400</td>
                            <td class="danger">Ineligible</td>
                        </tr>
                    </tbody>
                </table>
                <a href="#">Show All</a>
               </div>
           </div>
        </main>

        <div class="right">
            <div class="top">
                <div class="profile">
                    <div class="info">
                        <b>{{name}}</b>
                        
                    </div>
                    <div class="icon-pro">
                        <img src="{{ image_file }}" alt="">
                    </div>
                </div>
            </div>
            <div class="eli-Title">
                <h2>Eligibility Determinants</h2>
            </div>
            

            <div class="bubble-chart">
                
                <div class="chartss">
                    <canvas id="polar-chart">

                    </canvas>
    
                </div>
            </div>

            <div class="make-predit">
                <i class="uil uil-dice-three"></i>
                <a href="{{ url_for('users.predict' )}}">Predict</a>
            </div>
        </div>

        <footer>
            <div class="foot"></div>
        </footer>
       
        <!-- <footer class="copyright">
            <small>&copy; Copyright <span id="currYr"></span></small>
        </footer> -->
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"
     integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" 
     crossorigin="anonymous"
     referrerpolicy="no-referrer">
    </script>
    <script src="/static/js/charts.js"></script>
    <script src="/static/js/sideScript.js"></script>
    <script src="/static/js/script.js"></script>
    
</body>
</html>