<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="/static/css/dashboard.css">
     
    <title>Dashboard</title>
</head>
<body>
    <div class="container">
        <aside>
            <nav class="sidebar">
                <header>
                    <div class="image-text">
                        <span class="image">
                            <img class="cube-logo" src="/static/img/logo-cube.png" alt="">
                            <img class="rec-logo" src="/static/img/logo-rec.png" alt="">
                        </span>
                    </div>

                    <i class="uil uil-angle-right toggle"></i>
                </header>

                <div class="menu-bar">
                    <div class="menu">
                        <ul class="menu-links">
                            <li class="nav-link">
                                <a class="active" href="{{ url_for('users.dashboard') }}">
                                    <i class="uil uil-apps icon"></i>
                                    <span class="text nav-text">Dashboard</span>
                                </a>
                            </li>
                            <li class="nav-link">
                                <a href="{{ url_for('users.predict') }}">
                                    <i class="uil uil-dice-three icon"></i>
                                    <span class="text nav-text">Predict</span>
                                </a>
                            </li>
                            <li class="nav-link">
                                <a href="{{ url_for('users.userAccount') }}">
                                    <i class="uil uil-user icon"></i>
                                    <span class="text nav-text">User Info</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="bottom-content">
                        <li class="">
                            <a href="{{ url_for('users.logout') }}">
                                <i class="uil uil-sign-out-alt icon"></i>
                                <span class="text nav-text">Logout</span>
                            </a>
                        </li>
                    </div>
                </div>

            </nav> 
        </aside>

        <div class="header">
            <div class="head">
                <h1>
                    Dashboard
                </h1>
                
            </div> 
            <div class="date">
                <div class="profile">
                    <div class="info">
                        <b>{{name}}</b>
                        
                    </div>
                    <div class="icon-pro">
                        <a href="{{ url_for('users.userAccount') }}">
                            <img src="{{ image_file }}">
                        </a>
                    </div>
                </div>
                
            </div>
        </div>
           
        <main>                
           
            <div class="headerrr">
                <h1>Dashboard</h1>
            </div>
           <!-- <div class="insights">
               <div class="chart">
                    <canvas id="line-chart">

                    </canvas>
               </div>
           </div> -->

           <div class="recent-predictions">
               <div class="reTitle">
                   <h2>Recent Predictions</h2>
               </div>
               <div class="table-cont">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Loan Amount</th>
                            <th>Eligibility</th>
                        </tr>
                    </thead>
                    <tbody>
                       
                        <tr>
                            <td>Michael Angelo</td>
                            <td>mangelo@live.com</td>
                            <td>2000</td>
                            <td class="success">Eligible</td>
                        </tr>
                        <tr>
                            <td>Michael Angelo</td>
                            <td>mangelo@live.com</td>
                            <td>2000</td>
                            <td class="success">Eligible</td>
                        </tr>
                        <tr>
                            <td>Michael Angelo</td>
                            <td>mangelo@live.com</td>
                            <td>2000</td>
                            <td class="success">Eligible</td>
                        </tr>
                        <tr>
                            <td>Michael Angelo</td>
                            <td>mangelo@live.com</td>
                            <td>2000</td>
                            <td class="success">Eligible</td>
                        </tr>
                        <tr>
                            <td>Michael Angelo</td>
                            <td>mangelo@live.com</td>
                            <td>2000</td>
                            <td class="success">Eligible</td>
                        </tr>
                        <tr>
                            <td>Michael Angelo</td>
                            <td>mangelo@live.com</td>
                            <td>2000</td>
                            <td class="success">Eligible</td>
                        </tr>
                        <tr>
                            <td>Michael Angelo</td>
                            <td>mangelo@live.com</td>
                            <td>2000</td>
                            <td class="success">Eligible</td>
                        </tr>
                        <tr>
                            <td>Michael Angelo</td>
                            <td>mangelo@live.com</td>
                            <td>2000</td>
                            <td class="success">Eligible</td>
                        </tr>
                        <tr>
                            <td>Michael Angelo</td>
                            <td>mangelo@live.com</td>
                            <td>2000</td>
                            <td class="success">Eligible</td>
                        </tr>
                        <tr>
                            <td>Michael Angelo</td>
                            <td>mangelo@live.com</td>
                            <td>2000</td>
                            <td class="success">Eligible</td>
                        </tr>
                    </tbody>
                </table>
                <a href="#">Show All</a>
               </div>
           </div>
        </main>

        <div class="right">
            <div class="top">
                <div class="profile">
                    <div class="info">
                        <b>{{name}}</b>
                        
                    </div>
                    <div class="icon-pro">
                        <img src="{{ image_file }}" alt="">
                    </div>
                </div>
            </div>
            <div class="eli-Title">
                <h2>Eligibility Determinants</h2>
            </div>
            

            <div class="bubble-chart">
                
                <div class="chartss">
                    <canvas id="polar-chart">

                    </canvas>
    
                </div>
            </div>

            <div class="make-predit">
                <i class="uil uil-dice-three"></i>
                <a href="{{ url_for('users.predict' )}}">Predict</a>
            </div>
        </div>

       
        <footer class="copyright">
            <small>&copy; Copyright <span id="currYr"></span></small>
        </footer>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"
     integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" 
     crossorigin="anonymous"
     referrerpolicy="no-referrer">
    </script>
    <script src="/static/js/scripts.js"></script>
    <script src="/static/js/charts.js"></script>
    
</body>
</html>