*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}
.bg-cont{
    background: #fff url("/static/img/headerBg.jpg") center / cover;
    height: 100vh;
    width: 100%;
    margin: auto;
    opacity: 75%;
    overflow: hidden;
}
.bg-cont div{
    position: relative;
    opacity: 75%;
}
.bg-cont div:nth-child(1){
    height: 375px;
    width: 450px;
     background: linear-gradient(45deg, #2a78f5, #0703c9);;
     left: -15%;
     top: -15%;
     border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
     transform: rotate(45deg);
     filter: blur(75px);
}
.bg-cont div:nth-child(2){
    height: 563px;
    width: 675px;
    background: linear-gradient(#508ff3, #0703c9);
    border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
    right: -65%;
    top: -40%;
    transform: rotate(210deg);
    filter: blur(75px);
}
header{
    height: 50px;
    width: 100%;
    position: absolute;
    margin-top: 1rem;
    z-index: 10000;
    top: 0%;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: .5px;
    font-size: 14px;
}
header .nav-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.logo-img{
    padding-left: 1.5rem;
}
header ul{
    display: flex;
    align-items: center;
}
header ul li{
    list-style: none;
}

header ul li a{
    text-decoration: none;
    padding: 6px;
    color: #333;
}
.nav-list{
    margin-left: 150px;
    width: 10rem;
}
.nav-sign-in-out-btn{
    justify-content: right;
    display: flex;
    margin-top: -1.5rem;
    margin-right: 5rem;
}
.nav-list li a{
    position: relative;
    text-decoration: none;
    padding: 6px;
    color: #333;
}

.nav-list li a:hover{
    font-weight: 900;
    width: 15px;
}


.nav-list li a.active{
    font-weight: 900;
}
.nav-sign-in-btn{
    padding: 8px 25px;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: .7rem;
    font-weight: 900;
    background: transparent;
    border: #2a78f5 solid 2.8px;
    transition: .5s;
}
.container{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    position: relative;
    display: flex;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    max-height: 500px;
    max-width: 800px;
    color: #333;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 50px 35px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
}


.container .abtImg img{
    height: 250px;
}

.container .abtTxt h2{
    font-size: 3rem;
    color: #2a78f5;
}

.container .abtTxt p{
    font-size: 15px;
    line-height: 1.5em;
}

@media screen and (max-width: 425px) {
    .card{
        flex-direction: column;
    }    
}

@media screen and (max-width: 768px){
    .bg-cont{
        /* background: #fff url("/static/img/headerBg.jpg") center / cover; */
        height: 100%;
        width: 100vw;
        margin: auto;
        opacity: 75%;
    }
    .land-page div:nth-child(1){
        position: relative;
        top: 0;
    }

    .land-page div:nth-child(2){
        display: none;
    }
}

@media screen and (max-width:664px) {
    .land-page div:nth-child(2){
        display: none;
    }

    .land-page h3{
        margin-left: -30px;
        font-size: 2rem;
    }
    .land-page p{
        margin-left: -30px;
        font-size: 1rem;
    }

    .land-page a{
        margin-left: -30px;
    }

    .nav-list{
        margin-left: 50px;
    }
}

@media screen and (max-width:574px){
    .nav-sign-in-btn{
        display: none;
    }
}

@media screen and (max-width:425px){
    .nav-sign-in-btn{
        display: none;
    }

    .land-page h3{
        margin-left: -70px;
        font-size: 1.2rem;
    }
    .land-page p{
        margin-left: -70px;
        font-size: .7rem;
    }

    .land-page a{
        margin-left: -70px;
    }
}